 body{
      width:100%;
      background: linear-gradient( to top,Black)(50%,Black)(50%),url(sunset.jpg);
      background : position center;
      background : size cover;
      height : 109hv;
    }
    nav{
        text-align:bottom;
        
    }
    li {
  float: left;
}


    ul {
        list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(121, 14, 14);
}
li a:hover:not(.active) {
  background-color: #111;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("photographer.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

h1{
    text-align: center;  
}