a:hover {
    background-color: rgb(1, 15, 17);
  }
  b:hover{
    color: red; 
}
a:hover{
    color: purple;
}
a:hover{
    color: rgb(217, 255, 0); 
  }
  a:hover{
    color: rgb(255, 0, 157);
}
a:hover{
    color: rgb(255, 94, 0);
}
  .nav,ul {
list-style-type: none;
background-color: rgb(173, 17, 17);
margin: 3px;
padding: 3px;
overflow: hidden;
border-radius: 3px;
}


.home{
overflow: hidden;
text-align: center;
color: rgb(76, 0, 255);
background-color: black;
}

* {
box-sizing: border-box;
}

.column {
float: left;
width: 30%;
padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #04AA6D;
}
p {text-align: center;}

